.header-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 34px;
}

.logo-container {
    color: #24164f;
    font-size: 20px;
    font-weight: 700;
}

.header-navigation-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.header-navigation {
    text-decoration: none;
    font-size: 14px;
    color: #1d1e1f;
    font-weight: 500;
    margin-right: 35px;
}

.last {
    margin-right: 0;
}

.header-navigation:hover {
    color: #1d1e1f;
}