.billing-detail-main-container {
    width: 100%;
    padding: 38px 0px 38px 0px;
    max-width: 1045px;
    margin: 0 auto;
}

.details-main-container {
    background-color: #ffffff;
    padding: 30px 30px 10px 30px;
}